body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: pink;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.love {
  position: absolute;
  color: rgb(218, 22, 55);
  font-size: 0px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.spotify-player {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  max-width: 400px;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.main-box {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(180, 218, 237, 0.82);
  border-radius: 2vw;
  padding: 2vw 5vw;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  width: 72vw;
  max-width: 400px;
  font-size: 1rem;
}

.search-bar {
  background-color: #f1f1f1;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 16px;
  font-style: bold;
  text-align: left;
  box-shadow: 0 2px 8px rgba(225, 42, 124, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #d62828;
}

.timer div {
  width: 70px;
}

.main-btn {
  background-color: #ff5e78;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(255, 8, 8, 1);
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.sub-btn1 {
  flex: 1;
  background-color: #fff;
  border: none;
  padding: 7px;
  border-radius: 20px;
  font-size: 12.5px;
  cursor: pointer;
  box-shadow: 0 2px 8.5px rgba(225, 42, 124, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sub-btn2 {
  flex: 1;
  background-color: #fff;
  border: none;
  padding: 7px;
  border-radius: 20px;
  font-size: 12.5px;
  cursor: pointer;
  box-shadow: 0 2px 8.5px rgba(225, 42, 124, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.popup-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0);
  text-align: center;
  display: none;
  z-index: 999;
  min-width: 250px;
  max-width: 80%;
  padding: 10px 20px 60px 20px; /* ruang untuk atas dan bawah */
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.popup-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #d9204c;
  margin: 0;
}

.popup-content {
  margin-top: 38px; /* agar tidak menabrak teks "Love U" */
  color: #c51843;
  font-weight: 600;
  word-wrap: break-word;
}

.close-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #ffb6c1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.popup-box2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0);
  text-align: center;
  display: none;
  z-index: 999;
  min-width: 250px;
  max-width: 80%;
  padding: 10px 20px 60px 20px; /* ruang untuk atas dan bawah */
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.mainbtn {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #d9204c;
  margin: 0;
}

.mainbtn-content {
  margin-top: 38px; /* agar tidak menabrak teks "Love U" */
  color: #c51843;
  font-weight: 600;
  word-wrap: break-word;
}

.close-btn2 {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #ffb6c1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.galery {
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}

.emot {
  font-size: 30px;
  text-align: center;
}
